body{
	background-color: #f3f5f7;
}
header{
	width: 1300px;
	height: 100px;
	margin: 0 auto;
	padding-top: 30px;
}
.logo{
	width: 195px;
	height: 42px;
	float: left;

}
.logo a{
	display: block;
	width: 195px;
	height: 42px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -990px;
	overflow: hidden;
}
nav{
	float: left;
	margin-left: 10px;
}
nav li{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-left: 25px;
}
nav li a{
	display: block;
	height: 40px;
	font-size: 18px;
	padding: 0 10px;
}
nav li a:hover{
	border-bottom: 2px solid #00a4ff;
}
.search{
	width: 410px;
	height: 40px;
	float: left;
	margin-left: 160px;
}
.search input{
	width: 360px;
	height: 40px;
	border: 1px solid #00a4ff;
	outline: none; /*轮廓线*/
	padding-left: 10px;
	float: left;
}
.search button{
	width: 50px;
	height: 40px;
	outline: none;
	border: 0;
	background-color: #00a4ff;
	float: left;
	font-family: "icomoon";
	color: #fff;
	font-size: 18px;
}
.personal{
	float: right;
	height: 40px;
	line-height: 40px;
	width: 200px;
	margin-right: 10px;
}
.personal dt, .personal dd{
	float: left;
}
.personal s{
	position: relative;
	padding: 0 20px;
	text-decoration: none;
}
.personal s::before{
	content: "";
	display: block;  /*伪元素默认行内元素*/
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 15px;
}
.personal span img{
	border-radius: 50%;
	transition: all 0.6s;
}
.personal span img:hover{
	transform: rotate(180deg);
}
/*banner部分*/
.banner{
	height: 420px;
	background-color: #1c036c;
}
.inner{
	height: 420px;
	background:url(../images/banner2.png) no-repeat;
	position: relative;
}
.subnav{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 190px;
	background-color: rgba(0,0,0,0.3);
	padding-top: 20px;
}
.subnav li{
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
}
.subnav a{
	font-size: 14px;
	color: #fff;
	display: block;
	position: relative;
}
.subnav a:hover{
	color: #00b4ff;
}
.subnav span{
	position: absolute;
	top: 0;
	right: 20px;
}
.circle{
	width: 176px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -88px;
	bottom: 15px;
}
.circle i{
	display: inline-block;
	height: 13px;
	width: 13px;
	background:rgba(255,255,255,0.4);
	margin:0 5px;
	border-radius: 6px;
	cursor: pointer;
	transition: width 0.3s;
}
.circle i:hover{
	width: 20px;
	background-color: #fff;
}
.timebook{
	width: 228px;
	height: 300px;
	position: absolute;
	right: 0;
	top: 50%;
	background-color: #fff;
	transform: translateY(-50%);
}
.timebook dt{
	height: 50px;
	background-color: #9bceea;
	font-weight: 700;
	color: #fff;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
}
.timebook dd{
	padding: 15px 20px 0;
}
.timebook dd li{
	height: 60px;
	border-bottom: 1px solid #ccc;
	padding-top: 6px;
}
.timebook dd li:last-child{
	height: 60px;
	border-bottom: 0px solid #ccc;
	padding-top: 6px;
}
.timebook h4{
	font-size: 16px;
	font-weight: normal;
}
.all{
	height: 40px;
	border: 1px solid #22b0ff;
	color: #22b0ff;
	display: block;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}
.all:hover{
	background-color: #22b0ff;
	color: #fff;
}
.recommend{
	margin-top: 10px;
	background-color: #fff;
	line-height: 60px;
	height: 60px;
	position: relative;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}
.rec-l{
	padding-left: 30px;
}
.rec-l a{
	margin: 0 15px;
	font-size: 14px;
}
.rec-l strong{
	color: #22b0ff;
	font-size: 14px;
	margin-right: 15px;
}
.recommend em{
	position: absolute;
	right: 25px;
	bottom: 0;
	font-size: 14px;
	color: #22b0ff;
}
.products{
	margin-top: 30px;
}
.pro-hd{
	height: 40px;
	position: relative;
}
.pro-hd h4{
	font-size: 20px;
	font-weight: normal;
	color: #9b9c9d;
}
.pro-hd a{
	position: absolute;
	right: 25px;
	top: 0;
	color: #a5a5a5;
}
.pro-bd li{
	width: 228px;
	height: 270px;
	background-color:#fff;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	transition: all 0.4s;
}
.pro-bd li:hover{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	transform: translateY(-10px);
}
.pic img{
	transition: all 0.6s;
}
.pic img:hover{
	margin-left: -5px;
}
.pro-bd li:nth-child(5n){
	margin-right: 0;
}
.pro-title{
	width: 185px;
	margin: 20px auto;
	font-size: 14px;
	color: #050505;
}
.pro-bd p{
	width: 185px;
	margin: 20px auto;
	color: #999;
}
.pro-bd p span{
	color: #ff7c2d;
}
footer{
	height: 420px;
	margin-top: 30px;
	padding-top: 30px;
}
.footer-l{
	margin-left: 20px;
	float: left;
}
.footer-l p{
	margin: 25px 0 15px 0;
	line-height: 24px;
}
.footer-l a{
	width: 120px;
	height: 35px;
	display: block;
	border: 1px solid #22b0ff;
	text-align: center;
	line-height: 35px;
	color: #22b0ff;
	font-size: 16px;
}
.footer-l a:hover{
	background-color: #22b0ff;
	color: #fff;
} 
.footer-r{
	float: right;
}
.footer-r dl{
	float: left;
	margin-left: 130px;
	height: 22px;
	font-size: 12px;
}
.footer-r dt{
	font-size: 14px;
	color: #333;
	height: 30px;
}